body{
	margin:0;
	color: #ddd;
	font-family: 'malgun gothic', sans-serif;
	font-size: 20px;
	background: #333 url("../images/type-bg2.jpg");
	background-size: cover;
}
*{
	box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li{
	margin: 0;
	padding: 0;
}
.wrapper{
	background-color: rgba(0, 0, 0, 0.6);
}
h1{
	font-weight: 100;
	font-size: 3em;
	text-align: center;
	color: coral;
}
h2{
	font-weight: 100;
	font-size: 1.2em;
	text-align: center;
}
.flex-area{
	width: 90%;
	margin: 2em auto;
	font-size: 20px;
}
.example-text{
	font-size: 4em;
	line-height: 1.2em;
	height: 1.2em;
	border-bottom: 1px #fff solid;
	margin-bottom: 1em;
}
.input-text{
	font-size: 4em;
	line-height: 1.2em;
	width: 100%;
	height: 1.2em;
	border: 0;
	border-bottom: 1px #80b6ca solid;
	background-color: transparent;
	color: #ddd;
	outline: 0;
}