html, body{
	height: 100%;
}
body{
	margin:0;
	color: #ddd;
	font-size: 20px;
	background: #333 url("../images/type-bg2.jpg") center;
	background-size: cover;
}
*{
	box-sizing: border-box;
	font-family: 'malgun gothic', sans-serif;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li{
	margin: 0;
	padding: 0;
}
ul, ol, dl{
	list-style: none;
}
.wrapper{
	background-color: rgba(0, 0, 0, 0.9);
	min-height: 100%;
}
nav{
	position: fixed;
	right: 10px;
	top: 20px;
	font-size: 12px;
}
nav > ul > li{
	width: 40px;
	height: 40px;
	line-height: 40px;
	/*border: 3px solid #fff;*/
	border-radius: 40px;
	background-color: #bcbcbc;
	margin-bottom: 5px;
	padding: 0;
	cursor: pointer;
	color: #000;
	text-align: center;
}
nav > ul > li:hover,
nav > ul > li:active{
	background-color: #9cddee;
}

h1{
	font-weight: 100;
	font-size: 3em;
	text-align: center;
	color: coral;
}
h2{
	font-weight: 100;
	font-size: 1.2em;
	text-align: center;
}
.flex-area{
	width: 90%;
	margin: 2em auto;
	font-size: 20px;
}
.example-text{
	font-size: 5vw;
	line-height: 1.4em;
	height: 1.4em;
	border-bottom: 1px #fff dashed;
	margin-bottom: 0.4em;
}
.input-text{
	font-size: 5vw;
	line-height: 1.4em;
	width: 100%;
	height: 1.4em;
	border: 0;
	border-bottom: 1px #80b6ca solid;
	background-color: transparent;
	color: #ddd;
	outline: 0;
}
.time-elapse{
	font-family: monospace;
	font-size: 7vw;
	font-weight: 100;
	color: #00b5ee;
}
button.start-btn{
	border: 0;
	background-color: #00b5ee;
	font-size: 5vw;
	padding: 0.1em 0.8em;
	border-radius: 10vw;
	position: absolute;
	top: 200px;
	left: 50%;
	width: 20vw;
	height: 20vw;
	margin-left: -10vw;
}

.letter-view{
	display: none;
}
.example-letter{
	font-size: 10vw;
	/*line-height: 1.4em;*/
	height: 1.4em;
	border-bottom: 1px #fff dashed;
	margin-bottom: 0.4em;
	text-align: center;
}
.example-letter > span.match{
	color: #00a4ff;
}
.example-letter > span.miss{
	color: #ff7600;
}

.keyboard{
	width: 100%;
	height: 0;
	margin-top: 3vw;
	padding-bottom: 30%;
	position: relative;
}
.keyboard.hide{
	display: none;
}
.keyboard .row{
	position: absolute;
	clear: both;
	width: 100%;
	height: 19%;
}
.keyboard .row:nth-child(2){
	top: 20%
}
.keyboard .row:nth-child(3){
	top: 40%
}
.keyboard .row:nth-child(4){
	top: 60%
}
.keyboard .row:nth-child(5){
	top: 80%
}
.keyboard .row > div{
	float: left;
	border: 1px #dddddd solid;
	border-radius: 0.2em;
	width: 6.3%;
	height: 100%;
	margin: 0.2%;
	padding: 0 0.2em;
	line-height: 1em;
	font-size: 2vw;
	font-weight: 100;
	position: relative;
}
.keyboard .row > div.on{
	color: #000;
	background-color: #fff;
}
.keyboard .row > div.press{
	border: 3px #dd448a solid;
}
.keyboard .row > div.disable{
	border: 1px #555 solid;
	color: #555;
}
.keyboard .row > div.type1{
	width: 8%;
}
.keyboard .row > div.type2{
	width: 9.4%;
}
.keyboard .row > div.type3{
	width: 11.5%;
}
.keyboard .row > div.type4{
	width: 12.5%;
}
.keyboard .row > div.type5{
	width: 14%;
}
.keyboard .row > div.type6{
	width: 18.2%;
}
.keyboard .row > div.type7{
	width: 40.8%;
}
.keyboard .row > div.type1,
.keyboard .row > div.type2,
.keyboard .row > div.type3,
.keyboard .row > div.type4,
.keyboard .row > div.type5,
.keyboard .row > div.type6,
.keyboard .row > div.type7{
	font-size: 1.7vw;
}
.keyboard .row .en,
.keyboard .row .kr{
	float: left;
	height: 100%;
	width: 50%;
}
.keyboard .row .en .shift{
	height: 50%;
}
.keyboard .row .kr{
	text-align: right;
}
.keyboard .row .kr .shift,
.keyboard .row .kr .normal{
	position: absolute;
	bottom: 0.2em;
	width: 50%;
}
.keyboard .row .kr .shift{
	top: 0.2em;
}
.keyboard .en > *{
	font-family: "Trebuchet MS", sans-serif;
}