@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
html, body{
	height: 100%;
}
body{
	margin:0;
	color: #ddd;
	font-size: 20px;
	background: #333 url("../images/type-bg2.jpg") center;
	background-size: cover;
	overflow-y: hidden;
}
*{
	box-sizing: border-box;
	font-family: 'malgun gothic', sans-serif;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li{
	margin: 0;
	padding: 0;
}
ul, ol, dl{
	list-style: none;
}
.wrapper{
	background-color: rgba(0, 0, 0, 0.9);
	min-height: 100%;
	padding-top: 1px;
}

nav{
	position: fixed;
	right: 10px;
	top: 5px;
	font-size: 12px;
}
nav > ul > li{
	width: 40px;
	height: 40px;
	line-height: 40px;
	/*border: 3px solid #fff;*/
	border-radius: 40px;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 0;
	margin: 1px;
	cursor: pointer;
	color: #000;
	text-align: center;
	float: left;
}
nav > ul > li:hover,
nav > ul > li:active{
	background-color: #9cddee;
}
nav > ul > li.select{
	background-color: #9fc0cc;
}
h1{
	font-weight: 100;
	font-size: 3em;
	color: coral;
	transition: 1s all;
}
h2{
	font-weight: 100;
	font-size: 1.2em;
	transition: 1s all;
}
header{
	height: 50px;
	background-color: rgba(255, 255, 255, 0.1);
}
.minimize{
	padding-left: 10px;
}
.minimize > h1{
	float: left;
	font-size: 1.5em;
	padding-top: 3px;
}
.minimize > h2{
	float: left;
	font-size: 1em;
	line-height: 2.3em;
	margin-left: 10px;
	padding-top: 5px;
}
@media (max-width: 599px) {
	.minimize > h1{
		float: none;
		line-height: 1.2em;
		font-size: 1em;
		padding-top: 3px;
	}
	.minimize > h2{
		font-size: 0.65em;
		line-height: 1em;
		padding-top: 2px;
		margin-left: 0;
	}
}


.flex-area{
	width: 90%;
	margin: 2em auto;
	font-size: 20px;
}
.example-text{
	font-size: 5vw;
	line-height: 1.4em;
	height: 1.4em;
	border-bottom: 1px #fff dashed;
	margin-bottom: 0.4em;
}
.input-text{
	font-size: 5vw;
	line-height: 1.4em;
	width: 100%;
	height: 1.4em;
	border: 0;
	border-bottom: 1px #80b6ca solid;
	background-color: transparent;
	color: #ddd;
	outline: 0;
}
.time-elapse{
	font-family: monospace;
	font-size: 7vw;
	font-weight: 100;
	color: #00b5ee;
}
button.start-btn{
	border: 0;
	background-color: #00b5ee;
	font-size: 5vw;
	padding: 0.1em 0.8em;
	border-radius: 10vw;
	position: absolute;
	top: 200px;
	left: 50%;
	width: 20vw;
	height: 20vw;
	margin-left: -10vw;
}

.letter-view{
	display: none;
}
.example-letter{
	font-size: 10vw;
	/*line-height: 1.4em;*/
	height: 1.4em;
	/*border-bottom: 1px #fff dashed;*/
	margin-bottom: 0.4em;
	text-align: center;
}
.example-letter > span{
	display: inline-block;
	border-radius: 1em;
	background-color: rgba(255, 255, 255, 0.1);
	width: 1.5em;
	height: 1.5em;
	transition: 0.2s all;
}
.example-letter > span.match{
	color: #d5dfff;
	background-color: rgba(0, 164, 255, 0.8);
}
.example-letter > span.miss{
	color: #ffacae;
	background-color: rgba(255, 82, 112, 0.8);
}
.example-letter[data-num="1"] > span,
.example-letter[data-num="2"] > span,
.example-letter[data-num="3"] > span,
.example-letter[data-num="4"] > span{
	font-size: 10vw;
}

.example-letter[data-num="5"] > span{
	font-size: 9vw;
}
.example-letter[data-num="6"] > span{
	font-size: 8vw;
}
.example-letter[data-num="7"] > span{
	font-size: 7vw;
}
.example-letter[data-num="8"] > span{
	font-size: 6vw;
}



.keyboard{
	width: 100%;
	height: 0;
	margin-top: 3vw;
	padding-bottom: 30%;
	position: relative;
	cursor: default;
	user-select: none;
}
.keyboard.hide{
	display: none;
}
.keyboard .row{
	position: absolute;
	clear: both;
	width: 100%;
	height: 19%;
}
.keyboard .row:nth-child(2){
	top: 20%
}
.keyboard .row:nth-child(3){
	top: 40%
}
.keyboard .row:nth-child(4){
	top: 60%
}
.keyboard .row:nth-child(5){
	top: 80%
}
.keyboard .row > div{
	float: left;
	border: 1px #dddddd solid;
	border-radius: 0.2em;
	width: 6.3%;
	height: 100%;
	margin: 0.2%;
	padding: 0 0.2em;
	line-height: 1em;
	font-size: 2vw;
	font-weight: 100;
	position: relative;
	transition: 1s background-color;
	color: #555;
}
.keyboard .row > div.on{
	color: #000;
	background-color: rgba(255, 255, 255, 0.8);
	transition: 0.2s background-color;
}
.keyboard .row > div.press{
	border: 3px #dd448a solid;
}
.keyboard .row > div.disable{
	border: 1px #555 solid;
	color: #555;
}
.keyboard .row > div.type1{
	width: 8%;
}
.keyboard .row > div.type2{
	width: 9.4%;
}
.keyboard .row > div.type3{
	width: 11.5%;
}
.keyboard .row > div.type4{
	width: 12.5%;
}
.keyboard .row > div.type5{
	width: 14%;
}
.keyboard .row > div.type6{
	width: 18.2%;
}
.keyboard .row > div.type7{
	width: 40.8%;
}
.keyboard .row > div.type1,
.keyboard .row > div.type2,
.keyboard .row > div.type3,
.keyboard .row > div.type4,
.keyboard .row > div.type5,
.keyboard .row > div.type6,
.keyboard .row > div.type7{
	font-size: 1.7vw;
}
.keyboard .row .en,
.keyboard .row .kr{
	float: left;
	height: 100%;
	width: 50%;
}
.keyboard .row .en .shift{
	height: 50%;
}
.keyboard .row > div .kr{
	text-align: right;
	color: #fff;
}
.keyboard .row > div.disable .kr{
	color: inherit;
}
.keyboard .row .kr .shift,
.keyboard .row .kr .normal{
	position: absolute;
	bottom: 0.2em;
	width: 45%;
}
.keyboard .row .kr .shift{
	top: 0.2em;
	color: #777;
}
.keyboard .row .kr.shifted .shift{
	color: #fff;
}
.keyboard .row .kr.shifted .normal{
	color: #777;
}
.keyboard .en > *{
	/*font-family: 'Droid Sans', sans-serif;*/
	font-family: 'Noto Sans KR', sans-serif;
}

.modaless{
	position: absolute;
	left: 50%;
	top: 52px;
	margin-left: -100px;
	background-color: rgba(255, 255, 255, 0.2);
	color: #e0d4ad;
	padding: 5px 20px;
	border-radius: 50px;
	display: none;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



em.modaless-item{
	font-size: 0;
	display: none;
}