@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
html, body{
	height: 100%;
}
body{
	margin:0;
	color: #ddd;
	font-size: 20px;
	background: #333 url("../images/type-bg2.jpg") center;
	background-size: cover;
	overflow-y: hidden;
}
*{
	box-sizing: border-box;
	font-family: 'malgun gothic', sans-serif;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li{
	margin: 0;
	padding: 0;
}
ul, ol, dl{
	list-style: none;
}
.wrapper{
	background-color: rgba(0, 0, 0, 0.9);
	min-height: 100%;
	padding-top: 1px;
}

nav{
	position: fixed;
	right: 10px;
	top: 5px;
	font-size: 12px;
}
nav > ul > li{
	width: 40px;
	height: 40px;
	line-height: 40px;
	/*border: 3px solid #fff;*/
	border-radius: 40px;
	background-color: rgba(255, 255, 255, 0.4);
	padding: 0;
	margin: 1px;
	cursor: pointer;
	color: #000;
	text-align: center;
	float: left;
}
nav > ul > li:hover,
nav > ul > li:active{
	background-color: #9cddee;
}
nav > ul > li.select{
	background-color: #9fc0cc;
}
h1{
	font-weight: 100;
	font-size: 3em;
	color: coral;
}
h2{
	font-weight: 100;
	font-size: 1.2em;
	height: 50px;
}
h3{
	font-weight: 100;
	color: #b6e9ee;
	padding: 0.4em 0;
}
header{
	height: 50px;
	background-color: rgba(255, 255, 255, 0.1);
}
.minimize{
	padding-left: 10px;
}
.minimize > h1{
	float: left;
	font-size: 1.5em;
	padding-top: 3px;
}
.minimize > h2{
	float: left;
	font-size: 1em;
	line-height: 2.3em;
	margin-left: 10px;
	padding-top: 5px;
}
@media (max-width: 599px) {
	.minimize > h1{
		float: none;
		line-height: 1.2em;
		font-size: 1em;
		padding-top: 3px;
	}
	.minimize > h2{
		font-size: 0.65em;
		line-height: 1em;
		padding-top: 2px;
		margin-left: 0;
	}
}

.sentence-area{
	padding: 0.5em;
}
.letter{
	float: left;
	margin-right: 0.1em;
	margin-bottom: 0.4em;
	font-size: 2em;
	line-height: 1em;
}
.letter > .text{
	background-color: rgba(255, 255, 255, 0.2);
	padding: 0.1em;
	height: 1.4em;
	min-width: 0.8em;
	border-radius: 0.05em 0.05em 0 0;
	border-bottom: 0.05em solid #8ba5b2;
}
.letter > .typing{
	padding: 0.1em;
	height: 1.4em;
	min-width: 0.8em;
}
.letter.active > .typing{
	border-bottom: 0.05em solid #444;
	animation: blink 0.5s linear infinite alternate;
}
.letter.corrected > .text{
	border-bottom: 0.05em solid #006aeb;
}
.letter.incorrected > .text{
	border-bottom: 0.05em solid #eb005a;
}
#msg{
	clear: both;
}
@keyframes blink {
	from {
		border-bottom-color: #444;
	}
	to {
		border-bottom-color: #0cf;
	}
}